p {
  margin: 20px auto;
  font-size: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.one {
  text-transform: uppercase;
}

.two {
  text-transform: capitalize;
}

.three {
  text-transform: lowercase;
}