div {
  width: 400px;
  margin: 20px auto;
  background-color: #eee;
  padding: 20px;
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid;
  border-color: #f44336 #2196f3;
  text-align: center;
  position: relative;
}

span {
  position: absolute;
  width: 35px;
  height: 30px;
  background-color: #2196f3;
  color: white;
  line-height: 30px;
}

.top-left {
  top: -15px;
  left: -18px;
  border-right: 2px solid #f44336;
}

.bottom-left {
  bottom: -15px;
  left: -18px;
  border-right: 2px solid #f44336;
}

.top-right {
  top: -15px;
  right: -18px;
  border-left: 2px solid #f44336;
}

.bottom-right {
  bottom: -15px;
  right: -18px;
  border-left: 2px solid #f44336;
}